@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Forgot Password | Bug Tracker</title>
    <!-- Favicon-->
    <link rel="icon" href="~/images/Webp.net-resizeimage.jpg" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- Waves Effect Css -->
    <link href="~/Content/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Content/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!--My Custom-->
    <link href="~/Content/Custom.css" rel="stylesheet" />
</head>

<body class="fp-page">
    <div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);">Bug<b>Tracker</b></a>
            <small>by John</small>
        </div>
        <div class="card">
            <div class="body">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="msg">
                        Enter your email address that you used to register. We'll send you an email with a
                        link to reset your password.
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-red waves-effect" type="submit">RESET MY PASSWORD</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        
                        @Html.ActionLink("Sign In!", "Login", "Home")
                    </div>

                }



            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="~/Scripts/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/Scripts/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Scripts/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="~/Scripts/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="~/Scripts/admin.js"></script>
    <script src="~/Scripts/forgot-password.js"></script>
</body>

</html>

@*@model JohnsBugTracker.Models.ForgotPasswordViewModel
    @{
        ViewBag.Title = "Forgot your password?";
    }

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
    }*@


